.aws/
credentials
config
*.pem
# System Clutter (New)
.bash*
.cache/
.vscode-server/
.landscape/
.sudo_as_admin_successful
.profile
.motd_shown
awscliv2.zip
a.out
sh
.gitconfig
.lesshst
files
files.txt
# SSH Keys (NEVER PUSH THESE)
.ssh/
id_ed25519*
aws/
# Terraform local files
.terraform*/
*.tfstate
*.tfstate.backup
.terraform.lock.hcl
# System & Tool Clutter
.selected_editor
.wget-hsts
*.zip
*.gpg
*.state

# Logs
*.log*terraform-lab/welcome.txt
terraform-lab/.gitignore
terraform-lab/welcome.txt
watchdog.log*
